* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.offer {
   display: flex;
   background-color: #F0EFEB;
   justify-content: space-between;
   align-items: center;
}

.offer_title-wrapper {
   display: flex;
   flex-direction: column;
   padding: 90px 165px;
}

.offer__button {
   width: 130px;
   border: none;
   background: #000000;
   border: 1px solid #000000;
   border-radius: 100px;
   color: white;
}